.bg {
  height: 100%;
  background-image: linear-gradient(#689bff 0%, #f0f9ff 100%);
}
.name {
    font-size: 5rem;
    font-weight: bold;
    font-style: oblique;
    color: white;
    text-align: center;
    text-shadow: 2px 2px #aeaeae;
}
svg {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: inline;
  fill: #008dff;
  fill-opacity: 0.86;
}

@media only screen and (max-width: 600px) {
  svg {
    display: none;
  }
}
@media only screen and (max-height: 600px) {
    svg {
      display: none;
    }
  }

  @media only screen and (max-height: 400px) {
    .name {
      font-size: 3rem;
    }
  }