.bg {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#689bff 0%, #f0f9ff 100%);
}
.name {
  font-size: 6rem;
  font-weight: bold;
  font-style: oblique;
  color: white;
  text-align: center;
  text-shadow: 2px 2px #aeaeae;
  max-width: 100vw;
}
svg {
  position: absolute;
  fill: #008dff;
  fill-opacity: 0.1;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@media only screen and (max-height: 820px) {
  .name {
    font-size: 4rem;
  }
}
