<div class="d-flex flex-column h-100 w-100">
  <section class="row mb-5">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
      <app-tile
        type="warning"
        [icon]="faHourglassStart"
        title="Pending Offers"
        [n]="28"
        path="../pending-offers"
      >
      </app-tile>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
      <app-tile
        type="success"
        [icon]="faFire"
        title="Current Offers"
        [n]="170"
        path="../current-offers"
      ></app-tile>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
      <app-tile
        type="primary"
        [icon]="faHandPaper"
        title="Active Requests"
        [n]="2289"
        path="../pending-offers"
      >
      </app-tile>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
      <app-tile
        type="danger"
        [icon]="faFrown"
        title="Email Failures"
        [n]="5"
        path="../pending-offers"
      ></app-tile>
    </div>
  </section>
  <section id="charts" class="row">
    <div class="col-12 col-xl-6 my-5">
      <canvas id="barChart" width="600" height="400">{{ barChart }}</canvas>
    </div>
    <div class="col-12 col-xl-6 my-5">
      <canvas id="pieChart" width="400" height="250">{{ pieChart }}</canvas>
    </div>
  </section>
</div>
