<section class="mx-4 needs-validation" novalidate #form>
  <div class="mb-3">
    <label for="daterange" class="form-label">Check in / Check out</label>
    <date-range-picker [dateRange]="reservation.dateRange"></date-range-picker>
  </div>

  <div class="mb-3">
    <label for="room-type" class="form-label">Room Type</label>
    <select
      class="form-select"
      style="max-width: 300px"
      id="room-type"
      name="room-type"
      [(ngModel)]="reservation.roomType"
      [compareWith]="isSameRoomType"
      required
    >
      <option *ngFor="let item of roomTypes" [ngValue]="item">
        {{ item.name }}
      </option>
    </select>
    <div class="invalid-feedback">Please choose a room type.</div>
  </div>

  <div class="mb-3">
    <label for="quantity" class="form-label">Quantity</label>
    <input
      type="number"
      class="form-control"
      id="quantity"
      style="max-width: 100px"
      name="quantity"
      [(ngModel)]="reservation.quantity"
      max="20"
      min="1"
      step="1"
    />
  </div>

  <div class="mb-3">
    <label for="extras" class="form-label">Extras</label>
    <div class="d-block btn-group" id="extras">
      <label
        class="btn"
        [ngClass]="
          reservation.extras.breakfast ? 'btn-primary' : 'btn-outline-primary'
        "
      >
        <input
          type="checkbox"
          class="btn-check"
          [(ngModel)]="reservation.extras.breakfast"
          name="breakfast"
        />
        Breakfast
      </label>
      <label
        class="btn"
        [ngClass]="
          reservation.extras.tv ? 'btn-primary' : 'btn-outline-primary'
        "
      >
        <input
          type="checkbox"
          class="btn-check"
          [(ngModel)]="reservation.extras.tv"
          name="tv"
        />
        TV
      </label>
      <label
        class="btn"
        [ngClass]="
          reservation.extras.wifi ? 'btn-primary' : 'btn-outline-primary'
        "
      >
        <input
          type="checkbox"
          class="btn-check"
          [(ngModel)]="reservation.extras.wifi"
          name="wifi"
        />
        WiFi
      </label>
      <label
        class="btn"
        [ngClass]="
          reservation.extras.parking ? 'btn-primary' : 'btn-outline-primary'
        "
      >
        <input
          type="checkbox"
          class="btn-check"
          [(ngModel)]="reservation.extras.parking"
          name="parking"
        />
        Parking Lot
      </label>
      <label
        class="btn"
        [ngClass]="
          reservation.extras.balcony ? 'btn-primary' : 'btn-outline-primary'
        "
      >
        <input
          type="checkbox"
          class="btn-check"
          [(ngModel)]="reservation.extras.balcony"
          name="balcony"
        />
        Balcony
      </label>
    </div>
  </div>

  <div class="mb-3">
    <label for="arrival-time" class="form-label">Estimate Arrival Time</label>
    <div>
      <ngb-timepicker
        id="arrival-time"
        [(ngModel)]="reservation.estimatedArrivalTime"
        name="name"
        [meridian]="true"
        [spinners]="false"
      ></ngb-timepicker>
    </div>
    <small id="arrival-time-help" class="text-secondary">
      NOTE: The earliest check-in time is 3:00 PM.
    </small>
  </div>

  <br />

  <button type="button" class="btn btn-primary" (click)="continue()">
    Continue
    <fa-icon [icon]="faChevronRight" aria-hidden="true"></fa-icon>
  </button>
</section>
