<div class="d-flex flex-wrap w-100">
  <div
    class="d-flex my-2"
    style="width: 33%"
    *ngFor="let item of cars; index as i"
  >
    <fieldset
      class="mx-2 px-2 border border-primary rounded bg-light position-relative w-100"
    >
      <legend
        class="border border-primary rounded fw-bold m-0 p-1 w-auto bg-white text-nowrap fs-6 float-none"
      >
        Car {{ i + 1 }}
      </legend>
      <div class="py-2">
        <p class="m-0"><span class="label">Make</span> {{ item.make }}</p>
        <p class="m-0"><span class="label">Model</span> {{ item.model }}</p>
        <p class="m-0"><span class="label">Price</span> {{ item.price }}</p>
      </div>
    </fieldset>
  </div>
</div>
