.title-text {
  font-weight: 500;
}

.significant {
  margin-top: -20px;
  font-size: 3rem;
}

.primary {
  background-color: #2196f3;
}

.success {
  background-color: #4caf50;
}

.warning {
  background-color: #ff9800;
}

.danger {
  background-color: #f44336;
}
