<div class="waitlist-card bg-white text-center">
  <div class="waitlist-card-header">
    <div class="waitlist-card-header-tag"></div>
    <div class="py-1 px-2">
      <p class="h3">{{ waitlist.lot }}</p>
    </div>
  </div>
  <div class="waitlist-card-body">
    <div class="">
      <p class="m-0">Your Current Place</p>
      <p class="waitlist-place">{{ waitlist.place }}</p>
      <p class="m-0">Total {{ waitlist.total }}</p>
    </div>
  </div>
  <div class="waitlist-card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-success rounded-0">Details</button>
    <button type="button" class="btn btn-danger rounded-0">Cancel</button>
  </div>
</div>
