<div class="offer-card bg-white text-center">
  <div class="offer-card-header">
    <div class="offer-card-header-tag bg-success"></div>
    <div class="py-1 px-2">
      <p class="h3">{{ offer.lot }}</p>
    </div>
  </div>
  <div class="offer-card-body">
    <div class="">
      <p class="offer-place">🎉Offer</p>
      <p class="m-0">
        Expire at <time>{{ offer.expirationDate }}</time>
      </p>
      <p class="m-0"><a href="#" style="color: #0372e8;">Details</a></p>
    </div>
  </div>
  <div class="offer-card-footer d-flex justify-content-between">
    <button
      type="button"
      class="btn btn-success rounded-0"
      (click)="open(acceptModal)"
    >
      Accept
    </button>
    <button
      type="button"
      class="btn btn-danger rounded-0"
      (click)="open(declineModal)"
    >
      Decline
    </button>
  </div>
</div>

<ng-template #acceptModal let-modal>
  <div class="modal-header bg-success text-white rounded-0">
    <h4 class="modal-title" id="modal-title">Accept Offer?</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>asdfasd asdfasdf asdf</p>
    <p>asdfasd asdfasdf asdf</p>
    <p>asdfasd asdfasdf asdf</p>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button
      type="button"
      class="btn btn-outline-success rounded-0"
      (click)="modal.close()"
    >
      Confirm
    </button>
    <button
      type="button"
      class="btn btn-outline-dark rounded-0"
      (click)="modal.close()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #declineModal let-modal>
  <div class="modal-header bg-danger text-white rounded-0">
    <h4 class="modal-title" id="modal-title">Decline Offer?</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>asdfasd asdfasdf asdf</p>
    <p>asdfasd asdfasdf asdf</p>
    <p>asdfasd asdfasdf asdf</p>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button
      type="button"
      class="btn btn-outline-danger rounded-0"
      (click)="modal.close()"
    >
      Confirm
    </button>
    <button
      type="button"
      class="btn btn-outline-dark rounded-0"
      (click)="modal.close()"
    >
      Cancel
    </button>
  </div>
</ng-template>
