<section class="form-wizard-container">
  <div class="form-wizard d-flex shadow flex-column flex-sm-row">
    <div class="list-group flex-column">
      <a
        href
        title="Flight"
        class="list-group-item active text-center"
        [ngClass]="{ active: currentTab === 1 }"
        (click)="select(1); $event.preventDefault()"
      >
        <i class="fa fa-2x fa-plane" aria-hidden="true"></i>
        <p class="m-0">Flight</p>
      </a>
      <a
        href
        title="Train"
        class="list-group-item text-center"
        [ngClass]="{ active: currentTab === 2 }"
        (click)="select(2); $event.preventDefault()"
      >
        <i class="fa fa-2x fa-road" aria-hidden="true"></i>
        <p class="m-0">Train</p>
      </a>
      <a
        href
        title="Hotel"
        class="list-group-item text-center"
        [ngClass]="{ active: currentTab === 3 }"
        (click)="select(3); $event.preventDefault()"
      >
        <i class="fa fa-2x fa-bed" aria-hidden="true"></i>
        <p class="m-0">Hotel</p>
      </a>
      <a
        href
        title="Restaurant"
        class="list-group-item text-center"
        [ngClass]="{ active: currentTab === 4 }"
        (click)="select(4); $event.preventDefault()"
      >
        <i class="fa fa-2x fa-cutlery" aria-hidden="true"></i>
        <p class="m-0">Restaurant</p>
      </a>
      <a
        href
        title="Credit Card"
        class="list-group-item text-center"
        [ngClass]="{ active: currentTab === 5 }"
        (click)="select(5); $event.preventDefault()"
      >
        <i class="fa fa-2x fa-credit-card" aria-hidden="true"></i>
        <p class="m-0">Credit Card</p>
      </a>
    </div>
    <div class="tab-contents">
      <div class="tab-content" *ngIf="currentTab === 1">
        <p class="h1"><i class="fa fa-2x fa-plane" aria-hidden="true"></i></p>
        <p class="h2">Flight Reservation</p>
        <p class="h3 mt-5">Coming Soon</p>
      </div>
      <div class="tab-content" *ngIf="currentTab === 2">
        <p class="h1"><i class="fa fa-2x fa-road" aria-hidden="true"></i></p>
        <p class="h2">Train Reservation</p>
        <p class="h3 mt-5">Coming Soon</p>
      </div>
      <div class="tab-content" *ngIf="currentTab === 3">
        <p class="h1"><i class="fa fa-2x fa-bed" aria-hidden="true"></i></p>
        <p class="h2">Hotel Directory</p>
        <p class="h3 mt-5">Coming Soon</p>
      </div>
      <div class="tab-content" *ngIf="currentTab === 4">
        <p class="h1"><i class="fa fa-2x fa-cutlery" aria-hidden="true"></i></p>
        <p class="h2">Restaurant Directory</p>
        <p class="h3 mt-5">Coming Soon</p>
      </div>
      <div class="tab-content" *ngIf="currentTab === 5">
        <p class="h1">
          <i class="fa fa-2x fa-credit-card" aria-hidden="true"></i>
        </p>
        <p class="h2">Credit Card</p>
        <p class="h3 mt-5">Coming Soon</p>
      </div>
    </div>
  </div>
</section>
