<section class="d-flex flex-column h-100">
  <section class="">
    <svg
      id="curveUpColor"
      xmlns="http://www.w3.org/2000/svg"
      version="1.2"
      width="100%"
      height="100"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <path d="M0 100 C 20 0 50 0 100 100 Z" />
    </svg>
  </section>

  <section class="color">
    <div class="text-center">
      <p class="title">Driver License Review System</p>
      <p class="university">The University of Iowa</p>
    </div>
  </section>

  <section class="">
    <svg
      id="curveDownColor"
      xmlns="http://www.w3.org/2000/svg"
      version="1.2"
      width="100%"
      height="100"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <path d="M0 0 C 50 100 80 100 100 0 Z" />
    </svg>
  </section>
</section>
