.nav-custom {
  border: 1px solid #b1c8ff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: auto;
}

.tab-pane {
  border: 1px solid #b1c8ff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: auto;
  padding: 1rem;
  min-height: 600px;
}

.step-tab-item {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: space-between !important;
  background: #fcfff0;
  padding: 1rem 0;
  color: #b1c8ff !important;
}
.step-icon {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 4rem;
  height: 4rem;
  border-radius: 50% !important;
  border-width: 2px !important;
  border-style: solid;
  cursor: pointer;
}

.step-tab-item.active {
  color: #084ae3 !important;
}
.step-tab-item.active p {
  font-weight: bold !important;
}

.divider {
  flex-grow: 1;
  border-bottom: 3px solid #b1c8ff;
}

.divider.active {
  border-color: #084ae3 !important;
}
