<section class="form-wizard" *ngIf="(currentTab$ | async) as currentTab">
  <ngb-tabset
    (tabChange)="beforeChange($event)"
    type="custom"
    justify="justified"
  >
    <ngb-tab id="tab1">
      <ng-template ngbTabTitle>
        <div class="step-tab-item" [ngClass]="{ active: currentTab >= 1 }">
          <span class="flex-grow-1"></span>
          <div class="step-icon">
            <i class="fa fa-bed fa-2x" aria-hidden="true"></i>
          </div>
          <span class="divider" [ngClass]="{ active: currentTab > 1 }"></span>
          <div class="w-100"></div>
          <p class="mx-auto m-0">Room Reservation</p>
        </div>
      </ng-template>
      <ng-template ngbTabContent>
        <app-tab-content1 [reservation]="reservation"></app-tab-content1>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab2">
      <ng-template ngbTabTitle>
        <div class="step-tab-item" [ngClass]="{ active: currentTab >= 2 }">
          <span class="divider" [ngClass]="{ active: currentTab > 1 }"></span>
          <div class="step-icon">
            <i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
          </div>
          <span class="divider" [ngClass]="{ active: currentTab > 2 }"></span>
          <div class="w-100"></div>
          <p class="mx-auto m-0">Payment</p>
        </div>
      </ng-template>
      <ng-template ngbTabContent>
        <app-tab-content2 [reservation]="reservation"></app-tab-content2>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab3">
      <ng-template ngbTabTitle>
        <div class="step-tab-item" [ngClass]="{ active: currentTab === 3 }">
          <span class="divider" [ngClass]="{ active: currentTab > 2 }"></span>
          <div class="step-icon">
            <i class="fa fa-clipboard fa-2x" aria-hidden="true"></i>
          </div>
          <span class="flex-grow-1"></span>
          <div class="w-100"></div>
          <p class="mx-auto m-0">Review</p>
        </div>
      </ng-template>
      <ng-template ngbTabContent>
        <app-tab-content3 [reservation]="reservation"></app-tab-content3>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</section>
