<section class="form-wizard">
  <ngb-tabset
    (tabChange)="beforeChange($event)"
    type="custom"
    justify="justified"
    #t="ngbTabset"
  >
    <ngb-tab id="tab1">
      <ng-template ngbTabTitle>
        <div class="step-tab-item" [ngClass]="{ active: currentTab >= 1 }">
          <span class="flex-grow-1"></span>
          <div class="step-icon">
            <fa-icon [icon]="faBed" size="2x" aria-hidden="true"></fa-icon>
          </div>
          <span class="divider" [ngClass]="{ active: currentTab > 1 }"></span>
          <div class="w-100"></div>
          <p class="mx-auto m-0">Room Reservation</p>
        </div>
      </ng-template>
      <ng-template ngbTabContent>
        <app-tab-content1
          [reservation]="reservation"
          (next)="t.select('tab2')"
        ></app-tab-content1>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab2">
      <ng-template ngbTabTitle>
        <div class="step-tab-item" [ngClass]="{ active: currentTab >= 2 }">
          <span class="divider" [ngClass]="{ active: currentTab > 1 }"></span>
          <div class="step-icon">
            <fa-icon
              [icon]="faCreditCard"
              size="2x"
              aria-hidden="true"
            ></fa-icon>
          </div>
          <span class="divider" [ngClass]="{ active: currentTab > 2 }"></span>
          <div class="w-100"></div>
          <p class="mx-auto m-0">Payment</p>
        </div>
      </ng-template>
      <ng-template ngbTabContent>
        <app-tab-content2
          [reservation]="reservation"
          (next)="t.select('tab3')"
          (prev)="t.select('tab1')"
        ></app-tab-content2>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab3">
      <ng-template ngbTabTitle>
        <div class="step-tab-item" [ngClass]="{ active: currentTab === 3 }">
          <span class="divider" [ngClass]="{ active: currentTab > 2 }"></span>
          <div class="step-icon">
            <fa-icon
              [icon]="faClipboard"
              size="2x"
              aria-hidden="true"
            ></fa-icon>
          </div>
          <span class="flex-grow-1"></span>
          <div class="w-100"></div>
          <p class="mx-auto m-0">Review</p>
        </div>
      </ng-template>
      <ng-template ngbTabContent>
        <app-tab-content3
          [reservation]="reservation"
          (prev)="t.select('tab2')"
        ></app-tab-content3>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</section>
