<section class="form-wizard">
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="activeId"
    (navChange)="onNavChange($event)"
    class="nav nav-justified nav-custom"
  >
    <li [ngbNavItem]="1">
      <div class="step-tab-item" [ngClass]="{ active: activeId >= 1 }">
        <span class="flex-grow-1"></span>
        <div class="step-icon" (click)="nav.select(1)">
          <fa-icon [icon]="faBed" size="2x" aria-hidden="true"></fa-icon>
        </div>
        <span class="divider" [ngClass]="{ active: activeId > 1 }"></span>
        <div class="w-100"></div>
        <p class="mx-auto m-0">Room Reservation</p>
      </div>
      <ng-template ngbNavContent>
        <app-tab-content1
          [reservation]="reservation"
          (next)="nav.select(2)"
        ></app-tab-content1>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <div class="step-tab-item" [ngClass]="{ active: activeId >= 2 }">
        <span class="divider" [ngClass]="{ active: activeId > 1 }"></span>
        <div class="step-icon" (click)="navToPaymentTab()">
          <fa-icon [icon]="faCreditCard" size="2x" aria-hidden="true"></fa-icon>
        </div>
        <span class="divider" [ngClass]="{ active: activeId > 2 }"></span>
        <div class="w-100"></div>
        <p class="mx-auto m-0">Payment</p>
      </div>
      <ng-template ngbNavContent>
        <app-tab-content2
          [reservation]="reservation"
          (next)="nav.select(3)"
          (prev)="nav.select(1)"
        ></app-tab-content2>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <div class="step-tab-item" [ngClass]="{ active: activeId === 3 }">
        <span class="divider" [ngClass]="{ active: activeId > 2 }"></span>
        <div class="step-icon" (click)="nav.select(3)">
          <fa-icon [icon]="faClipboard" size="2x" aria-hidden="true"></fa-icon>
        </div>
        <span class="flex-grow-1"></span>
        <div class="w-100"></div>
        <p class="mx-auto m-0">Review</p>
      </div>
      <ng-template ngbNavContent>
        <app-tab-content3
          [reservation]="reservation"
          (prev)="nav.select(2)"
        ></app-tab-content3>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="tab-pane"></div>
</section>
