.form-wizard {
  padding: 1rem;
  border: 0.25rem solid #eeeeee;
  border-radius: 0.5rem;
}

::ng-deep .nav-custom .nav-link {
  padding: 0.5rem 0 !important;
}
::ng-deep .nav-custom li a {
  color: #b1c8ff !important;
}

.step-tab-item {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.step-icon {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 4rem;
  height: 4rem;
  border-radius: 50% !important;
  border-width: 2px !important;
  border-style: solid;
}

.step-tab-item.active {
  color: #084ae3 !important;
}
.step-tab-item.active p {
  font-weight: bold !important;
}

.divider {
  flex-grow: 1;
  border-bottom: 3px solid #b1c8ff;
}

.divider.active {
  border-color: #084ae3 !important;
}
