<div class="d-flex m-0 h-100">
  <div id="side-nav" class="d-none d-lg-block flex-shrink-0 side-nav p-0 pt-1">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="dash-board"
        >
          <i class="fa fa-fw fa-home"></i> Admin Home
        </a>
      </li>
      <li class="nav-item" *ngFor="let item of linkItems">
        <a
          class="nav-link"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="{{item.path}}"
        >
          <i
            *ngIf="item.iconClass"
            class="fa fa-fw"
            [ngClass]="item.iconClass"
          ></i>
          {{ item.text }}
        </a>
      </li>
    </ul>
  </div>
  <div id="main-content" class="flex-fill px-3" style="overflow-y: auto;">
    <router-outlet></router-outlet>
  </div>
</div>
