:host {
  background: #9aafee;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#curveUpColor path,
#curveDownColor path {
  fill: #bad2f8;
  stroke: none;
}

.color {
  background: #bad2f8;
  z-index: 2;
  align-items: center !important;
  justify-content: center !important;
  flex: 1 1 auto !important;
  display: flex !important;
}

.title {
  font-weight: bold;
  font-size: 5rem;
  width: 600px;
  color: #045dee;
}

.university {
  font-size: 1.5rem;
}

@media only screen and (min-height: 420px) {
  .university {
    margin: 5rem 0;
  }
}
