<div class="copyright text-center py-1 w-100">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="d-inline-flex mr-2">
      <span class="mr-2">Copyright &copy; {{year}}</span>
      <a href="https://uiowa.edu" title="University of Iowa" target="_blank" rel="noopener">University of Iowa</a>
    </div>
    <div class="d-none d-sm-inline-flex mx-5"> </div>
    <div class="d-inline-flex">
      <span class="mr-1">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </span>
      <span class="mr-1">E-mail any questions to</span>
      <a href="mailto:changhui-xu@uiowa.edu?subject=Questions%20about%20uiowa-header%20">Business Services IT</a>
    </div>
  </div>
</div>
