<div class="p-3 border border-primary my-3">
  <label for="typeahead-focus">Choose a department:</label>
  <input
    id="org-dept"
    type="text"
    class="form-control"
    [(ngModel)]="dept"
    [ngbTypeahead]="search"
    (focus)="focus$.next($any($event).target.value)"
    (click)="click$.next($any($event).target.value)"
    [inputFormatter]="formatter"
    [resultFormatter]="formatter"
    #instance="ngbTypeahead"
    placeholder="Type to choose a department"
    style="max-width: 400px"
  />
  <hr />
  <p>Department:</p>
  <pre>{{ dept | json }}</pre>
</div>

<ng-template #rt let-r="result" let-t="term.split(' ')">
  <ngb-highlight [result]="r" [term]="t"></ngb-highlight>
</ng-template>
<div class="p-3 border border-success my-3">
  <label for="typeahead-prevent-manual-entry" class="col-form-label">
    Destination (City, State):
  </label>
  <input
    #dest
    id="typeahead-prevent-manual-entry"
    type="text"
    class="form-control"
    [(ngModel)]="destination"
    [ngbTypeahead]="search2"
    [inputFormatter]="formatter2"
    [resultTemplate]="rt"
    [editable]="false"
    placeholder="Type then select a city"
    (blur)="validate(dest)"
  />
  <div class="invalid-feedback">Please provide a valid city.</div>
  <hr />
  <pre>Model: {{ destination | json }}</pre>
</div>

<div class="p-3 border border-info my-3">
  <p class="col-form-label">Destination (City, State):</p>
  <div class="d-flex flex-wrap">
    <div class="d-flex flex-wrap me-4 align-items-center">
      <label for="state" class="form-label"> State: </label>
      <select
        id="state"
        class="form-select"
        aria-label="Select a State"
        [(ngModel)]="state"
        (ngModelChange)="filter()"
      >
        <option *ngFor="let i of states" [ngValue]="i">{{ i }}</option>
      </select>
    </div>
    <div class="d-flex flex-wrap me-4 align-items-center">
      <label for="city" class="form-label"> City: </label>
      <select
        id="city"
        class="form-select"
        aria-label="Select a City"
        [(ngModel)]="city"
      >
        <option *ngFor="let i of citiesFiltered" [ngValue]="i">{{ i }}</option>
      </select>
    </div>
  </div>
  <hr />
  <pre>Model: {{ city + ', ' + state }}</pre>
</div>
