/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.nav-tabs .nav-link {
  color: #066cd9;
  border: 1px #e7eaed solid !important;
  border-bottom: 0 !important;
}
.nav-tabs .nav-link.active {
  border-top: 3px #0372e8 solid !important;
  background: #eef8ff !important;
  font-weight: 600 !important;
}
