/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

.ag-body {
  flex-direction: row;
  user-select: initial;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}
